<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/projectDetail.css">





</head>

<body>


<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p> Involved Nodes</p>
            <p><br><a href="/node/1">Node 1</a></p>
            <p><br><a href="#">Node 2</a></p>
            <p><br><a href="#">Node 3</a></p>
        </div>

        <div class="col-sm-8 text-left">
            <h4 id="pname">Project Name: {{ data.ProjectName }}</h4><br>
            <h4 id="SOP">Start of Production: {{ data.StartofProduction }}</h4>
            <h4><br>Project Milestones<br></h4>

            <label> Build series </label>
            <ul style="padding-left:2em">
                <li> X0 <b>{{ data.StartofProduction }}</b></li>
                <li> X1 {{name}}</li>
                <li> SM {{name}}</li>
                <li> VP {{name}}</li>
                <li> TT {{name}}</li>
                <li> PP {{name}}</li>
                <li> SOP {{name}}</li>

            </ul>

            <label> SW Milestones</label>
            <ul style="padding-left:2em">
                <li> E0 {{name}} </li>
                <li> E1 {{name}}</li>
                <li> E2 {{name}}</li>
                <li> E3 {{name}}</li>
                <li> E4 {{name}}</li>
                <li> R00 {{name}}</li>
                <li> R05 {{name}}</li>

            </ul>

            <h4><br>Project Description</h4>
            <textarea class="form-control" id="pDescription"
                      readonly rows="4">{{ data.ProjectDescription }}</textarea>


            <h4><br>Affected Teams <br></h4>
            <ul style="padding-left:2em">
                <script type='text/template' id='src'>
                    <ul>
                        {{#each objects}}
                        <li>{{name}}</li>
                        {{/each}}
                    </ul>

                </script>
                <li> E0 {{name}}</li>
                <li> E1 {{name}}</li>
                <li> E2 {{name}}</li>
                <li> E3 {{name}}</li>
                <li> E4 {{name}}</li>
                <li> R00 {{name}}</li>
                <li> R05 {{name}}</li>

            </ul>

            <div class="form-group">
                <h4> <br>Calculation Deadlines: {{data.dateEnd}} </h4>
            </div>
        </div> <!-- end of Project Profile -->

        <!-- Attached file section -->
        <div class="col-sm-2 sidenav">
            <h4>Additional Documents</h4>

            <p><br><a href="#">Test1.xsxl</a></p>
            <p><br><a href="#">Test2.pdf</a></p>
            <p><br><a href="#">Test3.pptx</a></p>

        </div>
    </div>








<script>


    console.log('here');
</script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>



<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>



</body>
</html>
