<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/projectDetail.css">





</head>

<body>


<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p> Toplevel Nodes</p>
            {{#each nodeData}}
                <p><a href="/node/{{idNode}}">{{Comments}}</a></p>
            {{/each}}

            <h3></h3>

            <button style="font-size: 13px; width: 140px; height: 35px" type="button" class="btn btn-createNode" data-toggle="modal" data-target="#createNodeModalProjDet">Create Child Node</button>
            <h6></h6>
        </div>

        <div class="col-sm-8 text-left">
            <h4 id="pname">Project Name: {{ data.ProjectName }}</h4><br>
            <h4 id="SOP">Start of Production: {{ data.StartofProduction }}</h4>
            <h4><br>Project Milestones<br></h4>

            <label> Build series </label>
            <ul style="padding-left:2em">
                <li> X0 <b>{{ data.StartofProduction }}</b></li>
                <li> X1 {{name}}</li>
                <li> SM {{name}}</li>
                <li> VP {{name}}</li>
                <li> TT {{name}}</li>
                <li> PP {{name}}</li>
                <li> SOP {{name}}</li>

            </ul>

            <label> SW Milestones</label>
            <ul style="padding-left:2em">
                <li> E0 {{name}} </li>
                <li> E1 {{name}}</li>
                <li> E2 {{name}}</li>
                <li> E3 {{name}}</li>
                <li> E4 {{name}}</li>
                <li> R00 {{name}}</li>
                <li> R05 {{name}}</li>

            </ul>

            <h4><br>Project Description</h4>
            <textarea class="form-control" id="pDescription"
                      readonly rows="4">{{ data.ProjectDescription }}</textarea>


            <h4><br>Affected Teams <br></h4>
            <ul>

                {{#each teamData}}
                    <li>  {{OrganizationName}} </li>
                {{/each}}

                <li> 95550 </li>

            </ul>

            <div class="form-group">
                <h4> <br>Calculation Deadlines: {{data.dateEnd}} </h4>
            </div>
        </div> <!-- end of Project Profile -->

        <!-- Attached file section -->
        <div class="col-sm-2 sidenav">
            <h4>Additional Documents</h4>

            <p><br><a href="#">Test1.xsxl</a></p>
            <p><br><a href="#">Test2.pdf</a></p>
            <p><br><a href="#">Test3.pptx</a></p>

        </div>
    </div>

    <div class="modal" id="createNodeModalProjDet" data-easein="slideUpIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Create Node</h4>
                            </div>

                            <div style="height:100%;" class="modal-body">
                                <form action="/projectDetail/{{ output }}/addchild/" method="POST">
                                    <div class="form-group">
                                        <label for="inputNodeName">Node Name</label>
                                        <textarea class="form-control" rows="1" placeholder="Node name" type="text" name="inputNodeName"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputNodeDesc">Node Description</label>
                                        <textarea class="form-control" rows="1" placeholder="Node description" type="text" name="inputNodeDesc"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputNodeType">Select Node Type</label>
                                        <select class="form-control" name="inputNodeType">
                                            <option>Group</option>
                                            <option>Engineering hours</option>
                                            <option>D&D by non-production suppliers</option>
                                            <option>D&D producion suppliers</option>
                                            <option>Test Objects</option>
                                        </select>
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputNodePerson">Assign manager to node</label>
                                        <select multiple class="form-control" name="inputManagerNode">
                                            <option>Person 1</option>
                                            <option>Person 2</option>
                                            <option>Person 3</option>
                                            <option>Person 4</option>
                                            <option>Person 5</option>
                                            <option>Person 6</option>
                                            <option>Person 7</option>
                                            <option>Person 8</option>
                                            <option>Person 9</option>
                                            <option>Person 10</option>
                                            <option>Person 11</option>
                                            <option>Person 12</option>
                                        </select>
                                    </div>
                    
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
                                <!--TODO: Add a function that saves data to DB from form-->
                                <button class="btn btn-primary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>





<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.ui.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>



<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>



</body>
</html>
